@page
@model Todos_Podemos.Pages.Tournaments.CreateModel

<h2>Crear Tournament</h2>

<form method="post">
    <label>Nombre</label>
    <input asp-for="Tournament.Name" />

    <button type="submit" class="btn">Guardar</button>
</form>