@page
@model Todos_Podemos.Pages.Players.IndexModel

<h2>Players</h2>

<a asp-page="Create" class="btn">Crear Player</a>

<div class="cards-container">
    @foreach (var item in Model.Players)
    {
        <div class="card">
            <h3>@item.Name</h3>
        </div>
    }
</div>